
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">
                <img src="~/content/img/empire-black-centre-logox2.png"  style="height:50px; width:50px"/>
                
            </a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-earphone"></i>
                        Contact Us
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        About
                    </a>
                </li>

                <li>
                    <a href="~/Home/Index">
                        <i class="glyphicon glyphicon-home"></i>
                        Home
                    </a>
                </li>


            </ul>

            <!--Partial-->
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
   
   
 
   
   <div class="container">
       <div class="row">

           @RenderBody()
       </div>



   </div>






     
   <footer class="navbar navbar-fixed-bottom myfooter ">
       <div class="container">
           <div class="row">
               <div class="col-md-4">
                   <h3>
                       <i class="glyphicon glyphicon-envelope" ></i>
                       Contact Us
                   </h3>
                   <ul>
                       <li> <a href="#">Facebook </a></li>
                       <li><a href="#">Twitter </a></li>
                       <li><a href="#">Instagram </a></li>
                     
                   </ul>

               </div>
               <div class="col-md-4">
                   <h3>
                       <i class="glyphicon glyphicon-globe"></i>
                       Like Us
                   </h3>
                   <ul>
                       <li> <a href="#">Facebook </a></li>
                       <li><a href="#">Twitter </a></li>
                       <li><a href="#">Instagram </a></li>
                       
                   </ul>
               </div>
               <div class="col-md-4">
                   <h3>
                       <i class="glyphicon glyphicon-question-sign"></i>
                       About Us
                   </h3>
                   <p style="color:white">
                       We are a company that take a tasks and work on it as freelancing
                   </p>

               </div>

           </div>

       </div>
       <div class="subfooter">
           <p>All cogyrights are reserved 2020</p>

       </div>


   </footer>
   




    <script src="~/scripts/jquery.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
</body>
</html>

    
