@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
    <body style="background-color:whitesmoke">
        
        <img src="~/Content/img/3.png" style="width:1150px; height:160 ; padding-bottom:20px ; margin-right:auto ; margin-left:auto" />

        <div style="        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
        color: #000 !important;
        direction: ltr;
        padding-top: 20px;
    }
    ">
            Say hello to Intervals, the ideal project management software for small business. The perfect blend of features with time and task management at its heart. Intelligently analyze all of your hard work
            with budgeting and smart reporting and finally stop going past deadlines
            and over budget
            try to : <p style="color:darkblue ; font-weight:bold ">
                @Html.ActionLink("Login", "Login", "Account") 
                @Html.ActionLink("Sign Up", "Register", "Account")
           



        </div>


    </body>
 